$heading-max-width:960px;
$heading-min-width:320px;
$heading-font-size:25px;
$heading-text-align:center;
$heading-background-color:rgb(240, 230 ,140);
$heading-line-height:60px;

$header-max-width:960px;
$header-min-width:320px;
$header-font-size:25px;
$header-text-align:center;
$header-background-color:rgb(240, 230 ,140);
$header-line-height:60px;

$column1-font-size:20px;
$column1-background-color:rgb(255,205,0);
$column1-height: 400px;
$column1-flex-grow: 0.2;
$column1-line-height: 30px;
$column1-border-top: 1px solid white;
$column1-border-bottom: 1px solid white;

$column2-font-size:30px;
$column2-background-color:rgb(175,204,220);
$column2-height: 400px;
$column2-flex-grow: 0.6;
$column2-line-height: 30px;
$column2-border: 1px solid white;

$column3-font-size:20px;
$column3-background-color:rgb(255,205,0);
$column3-height: 400px;
$column3-flex-grow: 0.2;
$column3-line-height: 30px;
$column3-border-top: 1px solid white;
$column3-border-bottom: 1px solid white;

$footer-font-size:20px;
$footer-background-color:rgb(210,180,140);
$footer-height: 100px;
$footer-line-height: 40px;
$footer-text-align:center;
$footer-max-width:960px;
