$width-block: 150px;
$height-block: 100px;
$border-block: black, solid, 1px;
$first-block-color: rgb(0,174,239);
$second-block-color: rgb(184, 248, 162);
$third-block-color: rgb(142, 133, 227);
$first-block-flex-grow: 0.1;
$second-block-flex-grow: 0.15;
$third-block-flex-grow: 0.3;
$background-border: 25px solid rgb(41, 60, 80);